.root {
    -fx-background-color: #233436;
}


/*--------------Pane--------------*/
.memberInfo{
	-fx-background-color: rgba(25,33,33,0.6);
	-fx-background-radius: 5 5 5 5;
}

.highScoreInfo{
	-fx-background-color: #e0e0e0;
	-fx-background-radius: 5 5 5 5;
}

.topInfo{
	-fx-background-color: rgba(25,33,33,0.6);
	-fx-background-radius: 5 5 5 5;
}

.bottomInfo{
	-fx-background-color: rgba(25,33,33,0.6);
	-fx-background-radius: 5 5 5 5;
}

.overScore{
	-fx-background-color: rgba(25,33,33,0.7);
	-fx-background-radius: 15 15 15 15;
}


/*--------------Label--------------*/
Label{
	-fx-font-family: "04B_19";
}

.highScoreTileLabel{
	-fx-text-fill: #e0e0e0;
	-fx-font-size: 40px;
	-fx-text-fill: rgba(25,33,33,0.9);
}

.highScoreLabel{
	-fx-text-fill: #e0e0e0;
	-fx-font-size: 60px;
	-fx-text-fill: rgba(25,33,33,0.9);
}

.idLabel{
	-fx-text-fill: #e0e0e0;
	-fx-font-size: 30px;
	-fx-vertical-align: middle;
}

.scoreLabel{
	-fx-text-fill: #e0e0e0;
	-fx-font-size: 37px;
}

.bonusLabel{
	-fx-text-fill: rgba(235,95,82,0.9);
	-fx-font-size: 37px;
}

.pauseLabel{
	-fx-text-fill: rgba(25,33,33,1.0);
	-fx-font-size: 50px;
}

.pauseLabel:hover{
	-fx-text-fill: rgba(0,0,0,0.9);
	-fx-font-size: 50px;
}


.foodLabel{
	-fx-text-fill: #e0e0e0;
	-fx-font-size: 37px;

}

.timeLabel{
	-fx-text-fill: #35b5cc;
	-fx-font-size: 37px;

}

.levelLabel{
	-fx-text-fill: #e0e0e0;
	-fx-font-size: 37px;
}

.overLabel{
	-fx-text-fill: #e0e0e0;
	-fx-font-size: 60px;
}

.alertLabel{
	-fx-text-fill: rgba(235,95,82,0.9);
	-fx-font-size: 40px;
}

/*--------------textField--------------*/
.TextField
{
	 -fx-background-color: #e0e0e0;
	 -fx-background-radius: 10 10 10 10;
	 -fx-font-family: "04B_19";
	 -fx-font-size: 20px;
	 -fx-text-fill: rgba(25,33,33,0.5);
     -fx-pref-width: 150px;
    /* -fx-text-fill        : #537394;
    -fx-background-color : #34495E;
    -fx-border-color     : #2C3E50;
    -fx-pref-column-count: 3;	
    -fx-pref-height: 60px;
    -fx-pref-width: 60px; */
}

.TextField:focused
{
	-fx-text-fill: rgba(25,33,33,0.9);
   /*  -fx-background-color : #445E79;
    -fx-text-fill        : blanchedalmond; */
}

/*--------------animation--------------*/
.bonusStyle {
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-text-fill: #e0e0e0;
}

.levelUpStyle {
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-text-fill: #35b5cc;
}